body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9f7ef; /* Hellgrün */
  color: #343A40; /* Dunkelgrau */
  min-height: 100vh;
  position: relative;
  padding-bottom: 2.5rem; /* Höhe des Footers */
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
  background-color: #e9f7ef; /* Hellgrün, gleiche Farbe wie der Hintergrund */
  /* Entfernt den weißen Kasten */
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  max-width: 100%; /* Erhöht die maximale Breite */
  width: 100%;
}