.landing-page {
  padding: 2rem;
  background-color: #e9f7ef; /* Hellgrün */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

h2 {
  color: #28A745; /* Primärgrün */
  text-align: center;
}

p {
  color: #6C757D; /* Grau */
  text-align: center;
}

.search-section {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #DCDCDC; /* Hellgrau */
  border-radius: 4px 0 0 4px;
  width: 300px;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #DCDCDC; /* Hellgrau */
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  cursor: pointer;
}

.search-button:hover {
  background-color: #218838; /* Dunkelgrün */
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.tags-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.tag-button {
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag-button:hover {
  background-color: #218838; /* Dunkelgrün */
}

.tag-button.selected {
  background-color: #7c807d; /* Dunkelgrün */
  color: #FFFFFF; /* Weiß */
}

.location-section {
  margin-left: 1rem;
}

.location-select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #DCDCDC; /* Hellgrau */
  border-radius: 4px;
  background-color: #FFFFFF; /* Weiß */
  color: #6C757D; /* Grau */
}

.offer-submit-section {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.submit-offer-button {
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-offer-button:hover {
  background-color: #218838; /* Dunkelgrün */
}

.content-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;
}

.results-section {
  flex: 3;
  max-height: 600px; /* Höhe des Containers anpassen, um 3 Ergebnisse anzuzeigen */
  overflow-y: auto;
  border: 1px solid #DCDCDC; /* Hellgrau */
  border-radius: 4px;
  padding: 1rem;
  background-color: #FFFFFF; /* Weiß */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  width: calc(100% - 400px); /* Verfügbarer Platz, wenn die Info-Section 400px breit ist */
}

.result-item {
  display: flex;
  background-color: #FFFFFF; /* Weiß */
  border: 1px solid #DCDCDC; /* Hellgrau */
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  cursor: pointer; /* Zeigt an, dass die gesamte Karte klickbar ist */
}

.result-item:hover {
  transform: none; /* Entfernt den Hover-Effekt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.result-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 1rem;
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; /* Sichert, dass der gesamte Text innerhalb result-content linksbündig ist */
}

.result-content h3, 
.result-content p {
  margin: 0.5rem 0; /* Sorgt für gleichmäßigen Abstand zwischen den Elementen */
  text-align: left; /* Sichert, dass jedes Element linksbündig ist */
}

.result-tags {
  margin-top: 0.5rem;
}

.result-tag {
  display: inline-block;
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.show-more-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  cursor: pointer;
  text-align: center;
}

.show-more-button:hover {
  background-color: #218838; /* Dunkelgrün */
}

.no-results-message {
  text-align: center;
  color: #6C757D; /* Grau */
  margin-top: 1rem;
}

.info-section {
  flex: 1;
  max-width: 400px;
  background-color: white; /* Alternative Farbe für Notfall Hilfe */
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  margin-left: 2rem;
  color: black; /* Weiß */
}

.info-section h2 {
  color:#28A745;
}
.info-section p {
  color: black; /* Weiß */
}

/* Sektion für Top-Kommentare aus dem Forum */
.top-comments-section {
  margin-top: 2rem;
  background-color: #FFFFFF; /* Weiß, passend zu den Ergebnissen */
  border: 1px solid #DCDCDC; /* Hellgrau, passend zu den Ergebnissen */
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
  transition: none;
}

.top-comments-section h2 {
  color: #28A745; /* Primärgrün */
  text-align: center;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  background-color: #FFFFFF; /* Weiß */
  border: 1px solid #DCDCDC; /* Hellgrau */
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.footer {
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #218838; /* Dunkelgrün */
}

.footer p {
  color: #FFFFFF; /* Weiß */
  margin: 0; /* Entfernt jegliche Standard-Margen, um sicherzustellen, dass der Text korrekt angezeigt wird */
}
