.forum {
    text-align: center;
    padding: 2rem;
    background-color: #e9f7ef; /* Hellgrün, gleiche Farbe wie der Hintergrund */
  }
  
  .forum h2 {
    color: #28A745; /* Primärgrün */
    margin-bottom: 1rem;
  }
  
  .forum p {
    color: #6C757D; /* Grau */
    margin-bottom: 2rem;
  }
  
  .therapist-ad {
    background-color: white; /* weißer Hintergrund */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
  }
  
  .content {
    display: flex;
    margin-bottom: 20px;
  }
  
  .image-container {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .info {
    flex: 2;
    text-align: left; 
    margin-left: 200px;
  }
  
  .info h2 {
    margin: 0 0 10px 0;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .description {
    margin-top: 20px;
  }