.forum {
    text-align: center;
    padding: 2rem;
    background-color: #e9f7ef; /* Hellgrün, gleiche Farbe wie der Hintergrund */
  }
  
  .forum h2 {
    color: #28A745; /* Primärgrün */
    margin-bottom: 1rem;
  }
  
  .forum p {
    color: #6C757D; /* Grau */
    margin-bottom: 2rem;
  }
  