.submit-offer-page {
  padding: 2rem;
  background-color: #e9f7ef; /* Hellgrün */
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

h2 {
  color: #28A745; /* Primärgrün */
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  color: #6C757D; /* Grau */
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #DCDCDC; /* Hellgrau */
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.submit-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #28A745; /* Primärgrün */
  color: #FFFFFF; /* Weiß */
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838; /* Dunkelgrün */
}

.image-preview {
  margin-top: 1rem;
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe mit Transparenz für den Overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Z-Index, um das Popup über allem anderen Inhalt zu positionieren */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten für den Popup-Inhalt */
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #007bff; /* Farbe für den OK-Button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3; /* Hervorhebungsfarbe beim Hovern über den Button */
}

