.navbar {
  background-color: #FFFFFF; /* Weiß */
  border-bottom: 1px solid #DCDCDC; /* Hellgrau */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #6C757D; /* Grau */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px; /* Größe des Logos anpassen */
  margin-left: 0.5rem;
}

.logo-text {
  font-size: 1.5rem;
  color: #28A745; /* Primärgrün */
}

nav {
  display: flex;
  justify-content: center; /* Zentriert die Links */
  flex: 1;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #6C757D; /* Grau */
  padding: 0.5rem;
  transition: color 0.3s, text-decoration 0.3s;
}

nav a:hover {
  color: #28A745; /* Primärgrün */
  text-decoration: underline;
}

.user-icon {
  font-size: 1.5rem;
}